* 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "Montserrat", sans-serif;
  }
  body {
    background: #dbe9fa;
    padding: 0 16px;
  }
  .add-contact-form{
    font-size: small;
    font-family: "McLaren", cursive;
    border: #91c7f3;
    margin: 1rem;
  }
  header {
    background-color: #91c7f3;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  
  h1,h2{
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
  }
  label{
    display: inline;
    position: relative;
    right:21%;
  }
  .link{
    color: white !important;
  }
  .text-Input {
    display: inline-grid;
    margin-bottom: 10px !important;
  }
  footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }
  
  footer p {
    color: #ccc;
  }
  img {
    width: 70%;
    height: auto;
    border-radius: 50%;
  }
  .initial-text{
    position: absolute;
    top: 50%; 
    left: 35%;
    color: #91c7f3;
    font-family: "McLaren", cursive;
   }
   .login{
     background-color: lightblue !important;
   }
  .login-text{
    color: #91c7f3;
    font-family: "McLaren", cursive;
    margin-bottom: 2rem;
   }
  .login-input{
    display: inline-grid;
    margin-bottom: 10px !important;
    width:50%;
  }
   .login-form{
    position: absolute;
    top: 20%; 
    left: 23%;
    color: #91c7f3;
    font-family: "McLaren", cursive;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #91c7f3;
    padding: 10px;
    width: 50%;
    height: 60%;
    margin: 16px;
    float: left;
    text-align: center;
   }
   .dialog-title h2{
     font-family: "McLaren", cursive;
     color: #91c7f3;
   }
  .add-button{
    background-color: #91c7f3 !important;
    color: #fff !important;
  }
  .edit-icon{
    padding-top: 4px !important;
  }
  .login-button{
    background-color: #91c7f3 !important;
    color: #fff !important;
    width: 21rem;
    font-family: "McLaren", cursive !important;
    border-radius: 7px !important;
    border-color: #91c7f3 !important;
  }
  .delete-button{
    position: absolute;
  }
  .dropdown{
    width: -webkit-fill-available;
  }
  .actions{
    padding-right: 5% !important;
  }
  .header-content{
    display: flex;
    justify-content: space-between ;
  }
  .header-greeting{
    display: flex;
    justify-content: space-between ;
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
    
  }
  .header-greeting h5{
    padding: 15px 10px 0 0;
  }
  .note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: auto;
    margin: 16px;
    float: left;
    text-align: center;
  }
  .note h3 {
    font-size: 1.5em;
    margin-bottom: 6px;
  }
  .note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }